# Python Lists


- Definition: Lists is a dynamic sized arrray (Automatically grows and shrinks)
- List Can store all types of data (int, float, string, list, tuple, dictionary, set)
- List can contain duplicate values
- List is mutable (you can change it)
- List Accessing is done by index (list[index])
- (Append) is the the operation we use to add elements to the list
- If you want to add element in specific position you can use (insert)
- Extend is used to add multiple elements to the list
- We use (pop) to remove elements by index and return this value
- We use (remove) to remove elements by value

## How to make Lists

In [ ]:
a=[2,4,6,8,"Bassam","Data science",[2,3,4]] 
print(type(a)) 

# you can make an empty list and fill it whenever you want:
a_list=[]
print(a_list) # Output: []
# or
a_list=list()

<class 'list'>

## Elements Access

To Access elements: variable[Index]

In [2]:
print(a[4])

Bassam

And we can print lists elements one by one using loops:

In [3]:
for i in range(len(a)) :
    print(a[i])

2
4
6
8
Bassam
Data science
[2, 3, 4]

## Adding, Deleting,and Editing elements

### Adding elements

As I mention before we use append funciton to add elements to the list:

In [4]:
a.append("murad")
print(a)

[2, 4, 6, 8, 'Bassam', 'Data science', [2, 3, 4], 'murad']

And this how we add multipule elements to the list using extend:

In [5]:
a.extend([2,3,4]) # It will add 2,3,4
print(a)

[2, 4, 6, 8, 'Bassam', 'Data science', [2, 3, 4], 'murad', 2, 3, 4]

``Note``: if you use extend  to add string value it will be added as char because string is a array of char

In [6]:
a.extend('murad')
print(a)

[2, 4, 6, 8, 'Bassam', 'Data science', [2, 3, 4], 'murad', 2, 3, 4, 'm', 'u', 'r', 'a', 'd']

### Removing elemetns

We use (pop) and (remove) functions to delete elements

In [7]:
print(a)
a.pop(1) # It will remove the element at index 1
a.remove("Bassam") # It will remove the element with value "Bassam"
print(a)

[2, 4, 6, 8, 'Bassam', 'Data science', [2, 3, 4], 'murad', 2, 3, 4, 'm', 'u', 'r', 'a', 'd']
[2, 6, 8, 'Data science', [2, 3, 4], 'murad', 2, 3, 4, 'm', 'u', 'r', 'a', 'd']

## List operations

In [8]:
a1=[1,2,3]
b1=[4,6,7]

We can combine list

In [10]:

c1=a1+b1 # It will combine two lists
print(c1)

[1, 2, 3, 4, 6, 7]

``Note``: we can use extend to combine elements

In [11]:
a1 = [1,2,3]
b1 = [4,6,7]

a1.extend(b1)  
print(a1)  # Output: [1, 2, 3, 4, 6, 7]

[1, 2, 3, 4, 6, 7]

## List comptehantion

List comprehantion is a way to create lists in a more concise and readable manner.

``List comprehension structuer: [variable for variable in iterable if condition]``

In [12]:
lst=[value for value in range(1,5)] # this is list comprehantion
print(lst)

[1, 2, 3, 4]

### List comprehantion Examples

Eample 1 : Check if a character is in a string and create a new list with those characters:

Case 1 : without list comprehantion:

In [13]:
f=['apple' , 'bannana','cherry','mangi','kiwi']
newlst=[]

for i in f:    # We use (in) to check all the element in the list
    if 'a' in i:
        newlst.append(i)
print(newlst)

['apple', 'bannana', 'mangi']

Case 2 : with list comprehanciton (Better):

In [14]:
my_lst=[item for item in f if 'a' in item]
print(my_lst)

['apple', 'bannana', 'mangi']


Example (2):Create a new list that contains the numbers that greater than 5 from the original list:

In [15]:
original_lst=[2,4,6,8,11,5]
new_lst=[value for value in original_lst if value>5]
print(new_lst)

[6, 8, 11]